Repository ImVogl/GoodsAccountingDemo, pull requests merged in 2023-04, with the labels that each got.

#30 Develop
  .gitignore
  Certificate/CertivicateConverterFromPfx.ps1
  Certificate/GenerateCertificates.ps1
  README.md
Labels: documentation

#36 Fixed copy to clipboard error
  Backend/Source/GoodsAccounting/Controllers/UserAccessController.cs
  Frontend/src/common/utilites/SwaggerClient.ts
  Frontend/src/components/account/AccountPage.tsx
Labels: frontend

#41 Frontend: fix placeholders for adding form
  Backend/Source/GoodsAccounting/Controllers/UserAccessController.cs
  Frontend/src/common/utilites/SwaggerClient.ts
  Frontend/src/components/inventarisation/InventarisationEditing.tsx
Labels: invalid, frontend

#49 create new maket
  README.md
Labels: frontend
